# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Uploaded Excel files
data/uploads/*

# Generated PDFs
data/generated/*

# Saved local profiles
data/profiles/*

# Keep empty project folders
!data/uploads/.gitkeep
!data/profiles/.gitkeep
!data/generated/.gitkeep

# IDE
.vscode/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db