<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Profile - Resultra</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>


{% if profile %}

    <h1>
        {{ profile_name }}
    </h1>

    <p>
        Saved Result Profile
    </p>


    <h2>Profile Information</h2>


    <table border="1" cellpadding="8">

        <tr>
            <th>Department</th>
            <td>{{ profile.department }}</td>
        </tr>

        <tr>
            <th>Course</th>
            <td>{{ profile.course }}</td>
        </tr>

        <tr>
            <th>Class</th>
            <td>{{ profile.class }}</td>
        </tr>

        <tr>
            <th>Semester</th>
            <td>{{ profile.semester }}</td>
        </tr>

        <tr>
            <th>Academic Year</th>
            <td>{{ profile.academic_year }}</td>
        </tr>

        <tr>
            <th>Examination</th>
            <td>{{ profile.examination }}</td>
        </tr>

    </table>


    <br>


    <h2>Result Rules</h2>

    <p>
        Passing Marks:
        <strong>
            {{ profile.rules.passing_marks }}
        </strong>
    </p>


    <h2>PDF Design</h2>

    <p>
        Page Size:
        {{ profile.design.page_size }}
    </p>

    <p>
        Orientation:
        {{ profile.design.orientation }}
    </p>


    <br>


    <a href="{{ url_for('use_profile', profile_name=profile_name) }}">
        Use This Profile for Results
    </a>


    <br>
    <br>


    <a href="{{ url_for('profiles') }}">
        Back to Profiles
    </a>


{% else %}

    <h1>Create Result Profile</h1>


    {% if error %}

        <p>
            {{ error }}
        </p>

    {% endif %}


    {% if success %}

        <p>
            {{ success }}
        </p>

    {% endif %}


    <form
        action="{{ url_for('new_profile') }}"
        method="POST"
    >

        <label>
            Profile Name:
        </label>

        <br>

        <input
            type="text"
            name="profile_name"
            required
        >

        <br>
        <br>


        <label>
            Department:
        </label>

        <br>

        <input
            type="text"
            name="department"
        >

        <br>
        <br>


        <label>
            Course:
        </label>

        <br>

        <input
            type="text"
            name="course"
        >

        <br>
        <br>


        <label>
            Class:
        </label>

        <br>

        <input
            type="text"
            name="class"
        >

        <br>
        <br>


        <label>
            Semester:
        </label>

        <br>

        <input
            type="text"
            name="semester"
        >

        <br>
        <br>


        <label>
            Academic Year:
        </label>

        <br>

        <input
            type="text"
            name="academic_year"
        >

        <br>
        <br>


        <label>
            Examination:
        </label>

        <br>

        <input
            type="text"
            name="examination"
        >

        <br>
        <br>


        <button type="submit">
            Save Profile
        </button>

    </form>


    <br>


    <a href="{{ url_for('profiles') }}">
        View Profiles
    </a>

{% endif %}


</body>

</html>